@media print {
     html, body {
         border: 1px solid white;
         height: 99%;
         page-break-after: avoid;
         page-break-before: avoid;
     }
}
h1 {
  color: rgb(37, 52, 148);
  font-size: 24pt;
  font-family: Cambria;
  page-break-before: always;
}
#methods{
  page-break-before:avoid;
}

.citation {
  position: absolute;
  bottom: 0;
  left: 0;
}

.toc_title, .toc_list {
  list-style: none;
  font-family: Open Sans Light;
}
.toc_title p {font-size:13px;}
.toc_list p {font-size: 10px;}
.toc_indent {margin-left: 20px;}

 #tocpage {
  text-align: right;
}

#introsub {
  font-family: Open Sans Light;
  font-size:11pt;
}
.column {
 padding:10px;
 width:100%;
 -moz-column-count: 2;
 -moz-column-gap: 10px;
 -webkit-column-count: 2;
 -webkit-column-gap: 10px;
 column-count: 2;
 column-gap: 10px;
 word-break: normal;
 max-height: 90%;
 font-family: opn sans light;
 font-size: 10pt;

}
.introtitle {
  color: rgb(56, 108, 176);
  font-family: calibri;
  font-size:13pt;
  text-align: justify;
}
.greenintrotitle{
  color:rgb(104,192,104);
  font-family: calibri;
  font-size: 11pt;
  text-align: justify;
}
.indent{
  margin-left: 10px
}
.indentindicator {
  margin-left:20px;
}
p {
  font-size: 10pt;
}
