@media print {
     html, body {
         border: 1px solid white;
         height: 99%;
         page-break-after: avoid;
         page-break-before: avoid; }
}
body {
  font-family: Open Sans Light;
  font-size: 10pt;}
/* All headers will have the same format*/
h1 {
  color: rgb(37, 52, 148);
  font-size: 24pt;
  font-family: Cambria;
  page-break-before: always;}

.interpretfigure1 {
    page-break-before: always;}

.citation {
  position: absolute;
  bottom: 0;
  left: 0;}

.toc_title, .toc_list {
  list-style: none;
  font-family: Open Sans Light;}

.toc_title p {font-size:13px;}
.toc_list p {font-size: 10px;}
.toc_indent p {margin-left: 20px;}

.introduction .introdesc p {
  font-size:11pt;}

.column {
 width:100%;
 column-count: 2;
 column-gap: 20px;
 word-break: normal;
 max-height: 90%;
 font-family:Open Sans Light;
 font-size: 10pt;
 text-align: left;}

.methodtitle {
  padding-top: 10px;}

.introtitle span, .methodtitle span, .sr_context span{
  color: rgb(56, 108, 176);
  font-family: calibri;
  font-size:13pt;}

.greenintrotitle {
  color:rgb(104,192,104);
  font-family: calibri;
  font-size: 11pt;
  text-align: justify;}

.indent{
  margin-left: 15px;
  padding-top:10px;}

.indentindicator {
  padding-left:30px;
  padding-bottom: 10px;}

.indentindicator span {display:block; padding-top:10px;}

.indentindicator2 {
  padding-left: 20px;}

.indentindicator2 p {margin-bottom:0px;}

.tableimage p {text-align: center; margin-bottom: auto; font-weight: bold;}

 .tableimage img {
   max-width: 100%;
   max-height: 100%;
   display: block;
   margin: auto;
 }

#note1 {
  font-size: 8pt;
  margin-top: 0px;
  font-family: Open Sans Semibold;
  text-align:left;
  display: block;
  margin-left: auto;
  margin-right: auto;}


.interpretsec h3 {
  page-break-before: always;
  background-color: rgb(56,108,176);
  font-size: 11pt;
  padding: 2.5px;
  color: white;
  padding-left: 10px;
}
.interpretsec img {padding-top: 20px;}
.annex_content img {padding-bottom: 25px;}

.interpretsec img, .annex_content img {
  width: 95%;
  max-height: 100%;
  display: block;
  margin: auto;
}
.results_header h1, .annex h1 {
  margin-bottom: 0;
}
.results_header h2 , .wbheader h2, .mrudeader h2{
  font-family: calibri;
  font-size: 18pt;
  margin-top: 0;
  margin-bottom: 0;
}
.results_header h3, .wbheader h3, .mrudeader h3, .annex h3 {
  font-size: 11pt;
  padding: 2.5px;
  margin-top: 5px;
  color: white;
  padding: 2.5px;
  padding-left: 10px;
}
.results_header h3, .annex h3{background-color: rgb(44, 127, 184);}
.results_header h2 {color: rgb(44, 127, 184);}
.wbheader h3 { background-color: rgb(190, 174, 212);}
.wbheader h2 {color: rgb(190, 174, 212);}
.mrudeader h2 {color: rgb(127, 201, 127)}
.mrudeader h3 {background-color: rgb(127, 201, 127)}

.col_population, .col_gender, .col_religion, .col_ethnicity, .col_wb, .col_mrud{
  display:inline-flex;}

.col_population, .col_wb, .col_mrud {
  min-height: 100%;
}
.col_population2 p, .col_gender2 p, .col_religion2 p, .col_ethnicity2 {text-align: left;}
.col_gender2, .col_religion2, .col_ethnicity2 {  padding-left: 20px;}

.col_population2 span, .col_wb span, .col_mrud span, .annex_content span
{
  display: block;
  text-align: center;
  font-family: Open Sans;
  font-size: 13pt;
  font-weight: bold;
}
.col_population1, .col_population2, .col_wb1, .col_wb2, .col_mrud1, .col_mrud2  {width: 50%;}

.col_population2, .col_wb2, .col_mrud2 {
  padding-left: 20px;
  z-index: 12;}

.col_population2 { border-left: 2px dashed rgb(4,127,184); height: 900px;}

.col_gender1 img { background-size: contain;}

/* human well being */
.col_wb span {color:rgb(190, 174, 212);
padding-top:20px;
font-size: 14pt; }

.col_wb2 {border-left: 2px dashed rgb(190, 174, 212); height: 1000px;}

.col_wb1 p {padding-right: 20px;}

/*Marine Resource Use and Dependence */
.col_mrud span {color:rgb(127, 201, 127);
padding-top:20px;
font-size: 14pt; }

.col_mrud2 {border-left: 2px dashed rgb(127, 201, 127); height: 1000px;}

.col_mrud1 p {padding-right: 20px;}


/* Synthesis and REcommendations */
.column .sr_context p {
  margin-top: 0;}
